<?xml version="1.0" encoding="utf-8"?>
<!-- https://learn.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file -->
<RunSettings>
    <RunConfiguration>
        <MaxCpuCount>1</MaxCpuCount>
        <ResultsDirectory>./.testresults</ResultsDirectory>
        <TreatNoTestsAsError>true</TreatNoTestsAsError>
        <EnvironmentVariables>
            <MY_VAR1>value1</MY_VAR1>
        </EnvironmentVariables>
    </RunConfiguration>

    <DataCollectionRunSettings>
        <DataCollectors>
            <!-- https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md -->
            <DataCollector friendlyName="XPlat code coverage" enabled="True">
                <Configuration>
                    <Format>cobertura,opencover,json,lcov</Format>
                    <IncludeTestAssembly>false</IncludeTestAssembly>
                    <SkipAutoProps>true</SkipAutoProps>
                </Configuration>
            </DataCollector>

            <!-- https://learn.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2022#blame-data-collector -->
            <DataCollector friendlyName="blame" enabled="True">
                <Configuration>
                    <CollectDumpOnTestSessionHang TestTimeout="10min" HangDumpType="Full" />
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>

    <LoggerRunSettings>
        <Loggers>
            <Logger friendlyName="console" enabled="True" />
            <Logger friendlyName="trx" enabled="True">
                <Configuration>
                    <LogFileName>testresults.trx</LogFileName>
                </Configuration>
            </Logger>
            <Logger friendlyName="html" enabled="True">
                <Configuration>
                    <LogFileName>testresults.html</LogFileName>
                </Configuration>
            </Logger>
            <Logger friendlyName="blame" enabled="True" />
        </Loggers>
    </LoggerRunSettings>
</RunSettings>